<h3>Login</h3>

<p>
	<form method="GET" action="/sessions">  User name:<br>
	 <input type="text" name="login[username]"><br>
	 Password:<br>
	 <input type="password" name="login[password_hash]"><br>
	 <input type="submit" value="Log in!">
	</form>
</p>
