
 <h3>Sign up to start creating blog posts!</h3>
<p>
<form method="POST" action="/sessions">  User name:<br>
 <input type="text" name="signup[username]"><br>
 Password:<br>
  <input type="text" name="password[password_hash]"><br>
  <input type="submit" value="Sign up!">
 </form>
</p>
