<div class="container">
  <% if @card.nil?%>
    <p>GAME OVER</p>
  <%else%>
    <p class="question"><%= @card.question %></p>

    <form method="post" action="/decks/cards/<%=@card.id%>/rounds">
      <input type="text" class="answer_box" name="answer[answer]"><br>
      <input type="submit" class="answer_button" value="Submit Answer">
    </form>
  <%end%>
</div>
