Hello World
<br>
<% if @card.nil?%>
<p>GAME DONE</p>
<%else%>
<%= @card.question %>
<br>

<form method="post" action="/decks/cards/<%=@card.id%>/rounds">
  <br>
  <input type="text" name="answer[answer]">
  <br> <br>
  <input type="submit" value="Submit Answer">
</form>

<%end%>
