<!-- DECKS INDEX -->
<div class="container">
  <div class="deck_container">
    <ul><%@decks.each do |deck| %>
      <li><a href="/decks/<%=deck.id%>"><%=deck.name%></a></li>
        <%end%>
    </ul>
  </div>
</div>
