<div class="container">
  <h3>You selected:</h3>
    <div class="selected_deck">
      <p><%=@deck.name%></p>
    </div>

<form method="GET" action="/decks/<%=@deck.id%>/rounds">
  <input type="submit" class="start_button" value="Get started">
</form>
